#order-button
  .container-1
    .indicator
      %i.fa.fa-shopping-cart
      .label.label-pill.label-success.count 0
    .btn.btn-success.continue-btn
      %i.fa.fa-chevron-right

:javascript
  new OrderButtonComponent(document.getElementById('order-button'))
