.portal.contact-us
  = render partial: "layouts/cover"
  .container
    .h2 Contact us
    .container-1
      .contact-details
        .h3 lu's Coffee
        %div +84866833063
        %div 229B Pham Hung, district 8

      .map-container
        %iframe{width: "600", height: "300", frameborder: "0", src:"https://www.google.com/maps/embed/v1/place?key=AIzaSyBtdfkgTP2x5Z-2Uz4eEcg-ikBMz4rvTDA&q=Lu's+Coffee", allowfullscreen: true}
